.summarizer__hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summarizer__hero-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.25rem;
    margin-bottom: 1.5rem; 
}

.summarizer__hero-navbar img {
    width: 3.25rem;
    height: auto;
    overflow: hidden;
}

.summarizer__hero-heading {
    text-align: center;
}

.summarizer__hero-heading h1 {
    color: #3627e3;
    font-weight: 700;
    font-size: 75.5px;
    line-height: 80px;
    margin-bottom: 0;
}

.summarizer__hero-heading h4 {
    margin: 0;
    font-weight: 700;
    color: #bd83f7;
    font-size: 17.2px;
    margin-top: 1.15px;
    text-align: right;
}

.summarizer__hero-text {
    color: #a29cb4;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.15px;
    text-align: center;
    margin-top: 3.25rem;
    max-width: 800px;
}

@media screen and (max-width: 650px) {
    .summarizer__hero-heading h1 { 
        font-size: 53px;
        line-height: 62px;
    }

    .summarizer__hero-heading h4 {
        font-size: 13px;
    }

    .summarizer__hero-text {
        font-size: 12.5px;
        margin-top: 2.5rem;
    }
}