.summarizer__main {
    width: 100%;
    max-width: 35rem;
    margin-top: 3rem;
}

.summarizer__main-search {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.summarizer__main-search__bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.summarizer__main-search__bar .summarizer__main-search__bar-link {
    position: absolute;
    left: 0;
    width: 1.25rem;
    margin: 0.5rem 0 0.5rem 0.75rem;
}

.summarizer__main-search__bar .summarizer__main-search__bar-input {
    width: 100%;
    display: block;
    border: 1px solid rgba(135, 206, 250, 0.6);
    transition: border-color 0.17s, outline 0.17s;
    border-radius: 0.4rem;
    background-color: white;
    padding: 0.63rem 3rem 0.63rem 2.5rem;
    font-family: var(--lato);  
    font-weight: 500;  
    font-size: 0.875rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.summarizer__main-search__bar-button {
    position: absolute;
    border: 1px solid white;
    background-color: white;
    color: rgba(135, 206, 250, 0.6);
    margin: 0.375rem 0.375rem 0.375rem 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    font-family: var(--lato);
    font-weight: 500;
    border-radius: 0.4rem;
    transition: border-color 0.17s, color 0.17s;
}

.summarizer__main-search__bar-button:hover {
    cursor: pointer;
    border-color: rgba(135, 206, 250, 0.8);
    color: rgba(135, 206, 250, 0.8);
}

.summarizer__main-display {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.summarizer__main-display .bounce__loader {
    height: 4rem;
    width: 4rem;
    object-fit: contain;
}

.summarizer__main-display__error {
    font-family: var(--lato);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1.15px;
    color: black;
    text-align: center;
}

.summarizer__main-display__error .summarizer__main-display__error-text {
    font-family: var(--lato);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1.15px;
    color: black;
    text-align: center;
}

.summarizer__main-display-result {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.summarizer__main-display-result h2 {
    font-family: var(--lato);
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 1.25px;
    color: #504d59;
}

.summarizer__main-display-result__text {
    border-radius: 1rem;
    font-family: var(--lato);
    border: 1px solid rgba(135, 206, 250, 0.6);
    background-color: white;
    color: #504d59;
    letter-spacing: 1.01px;
    font-size: 15.5px;
    padding: 1.1rem;
}

@media screen and (max-width: 650px){
    .summarizer__main-display-result h2 {
        font-size: 18px;
    }
}